header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

body {
    font-family: Arial, Verdana, Tahoma;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.429;
    color: rgba(0, 0, 0, .87);
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

th {
    background: #eee;
}

.td-icons {
    width: 5%;
    text-align: center;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 10px 12px;
    padding: 0;
}

dt {
    display: inline-block;
    font-style: italic;
    width: 150px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}
